@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  font: 18px/27px "Roboto", serif;
  color: #cacaca;
  background: #08020d;
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  line-height: 27px;
}

.container {
  box-sizing: content-box;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.image {
  background-position: center;
  background-size: cover;
}

.center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.ml-auto {
  margin-left: auto;
}

.mr-15 {
  margin-right: 15px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-16 {
  margin-top: 16px;
}

.mt-17 {
  margin-top: 17px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-42 {
  margin-top: 42px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-100 {
  margin-top: 100px;
}

.px-2 {
  padding: 2px 0;
}

.pt-40 {
  padding-top: 40px;
}

.pb-49 {
  padding-bottom: 49px;
}

.pt-62 {
  padding-top: 62px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-100 {
  padding-top: 100px;
}

.white {
  color: #FFFFFF;
}

.text-size-small {
  font-size: 12.8px;
  line-height: 150%;
}

.text-size-1 {
  font-size: 16px;
  line-height: 24px;
}

.text-size-2 {
  font-size: 24px;
}

.text-size-3 {
  font-size: 32px;
}

.text-size-4 {
  font-size: 40px;
}

.text-size-5 {
  font-size: 48px;
}

.text-size-6 {
  font-size: 56px;
}

.text-size-7 {
  font-size: 64px;
}

.gap-4 {
  gap: 4px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

.gap-25-50 {
  gap: 25px 50px;
}

.width-fit {
  width: fit-content;
}

header {
  position: absolute;
  width: 100%;
  top: 25px;
  font-size: 11px;
  line-height: 12.89px;
  align-items: center;
}

.logo-image {
  width: 24px;
  height: 24px;
}

.bg-image-header {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}

.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 24px;
}
.navigation .nav-item {
  font-size: 11px;
  line-height: 12.89px;
  color: #CACACA;
  padding: 2px 0;
  text-decoration: none;
}
.navigation .flex-row {
  padding: 24px;
  color: honeydew;
}

.nav-item:hover {
  color: #FFFFFF;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.search {
  width: 248px;
  height: 25px;
  padding: 5px 10px;
  background: #3C3B3D;
  border-radius: 50px;
  border-style: none;
}

.main-page {
  height: 750px;
  justify-content: center;
  align-content: center;
}

.page-description {
  padding: 200px 0;
}

.description {
  margin-top: 31px;
  margin-bottom: 17px;
  font-weight: 400;
}

.signup-submit {
  width: 100%;
  padding: 20px 0;
  border-radius: 5px;
  background-color: #34C176;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
}

.signup-form {
  margin: auto;
  max-width: 570px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.input-form {
  box-sizing: border-box;
  width: 273px;
  height: 50px;
  padding-left: 20px;
  border: 2px solid #CACACA;
  border-radius: 3px;
  font-weight: 700;
  background: transparent;
}

.input-form::placeholder {
  color: #FFFFFF;
}

.page-pricing {
  padding-top: 100px;
}

.pricing {
  flex-wrap: nowrap;
}

.pricing-item {
  box-sizing: border-box;
  padding: 24px 1.5rem 64px 1.5rem;
  width: 366.6666666667px;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}

.pricing-value {
  font-size: 64px;
  line-height: 1em;
  height: 64px;
  margin: 0 0 39px 0;
}

.pricing-currency {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  border: 1px solid #FFFFFF;
}

.bg-image-free {
  background-image: url(../images/subscribe_1.png);
}

.bg-image-standart {
  background-image: url(../images/subscribe_2.png);
}

.bg-image-premium {
  background-image: url(../images/subscribe_3.png);
}

.news-image,
.news-content {
  width: 575px;
}

.news-body h3 {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}
.news-body p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.news-text {
  margin-top: 30px;
}

.author-name {
  margin: 0;
  color: #F89202;
  font-weight: normal;
  font-size: 12px;
  line-height: 19.2px;
  text-transform: uppercase;
}

.news-date {
  font-weight: normal;
  font-size: 12px;
  line-height: 19.2px;
}

.news-footer .btn {
  font-size: 12px;
  line-height: 19.2px;
  color: #CACACA;
  display: inline-block;
  width: auto;
  margin-top: 48px;
  padding: 16px 30px;
  border: 1px solid #CACACA;
}

.news-item:nth-child(2n+1) {
  flex-direction: row-reverse;
}

.mobile-app-description {
  margin: 0;
  width: 600px;
}

.mobile-app-image {
  margin: 0 auto;
}

.download-mobile-app {
  font-size: 12.8px;
  line-height: 19.2px;
  color: #FFFFFF;
  background: #95390C;
  box-sizing: border-box;
  display: inline-block;
  width: fit-content;
  padding: 16px 40px;
  border-radius: 32px;
  border: none;
  text-transform: capitalize;
}

.artist-main-header {
  margin-top: 50px;
}

.popular-track-cover {
  width: 55px;
}

.popular-track {
  width: 550px;
  align-items: center;
}

.bg-image-artist {
  background-image: url(../images/Morten\ Harket.png);
  background-position: center;
  background-size: cover;
}

.artist-btn {
  gap: 1.5rem;
}
.artist-btn .btn {
  box-sizing: border-box;
  display: flex;
  width: 200px;
  padding: 20px 30px;
  border: none;
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: 400;
  text-transform: uppercase;
  align-self: start;
}

.btn-orange {
  background-color: #95390C;
}

.btn-purple {
  background-color: #5328A1;
}

.icon {
  width: 20px;
  filter: invert(100%);
}

.track-title {
  font-weight: 700;
  text-transform: uppercase;
}

.discography-item {
  width: 250px;
}

.album-cover {
  width: 100%;
  display: block;
}

.album-title {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: capitalize;
}

.similar-item {
  width: 250px;
}

.artist-cover {
  width: 100%;
  display: block;
}

.artist-name {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: capitalize;
}

footer h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  color: #FFFFFF;
}
footer ul {
  list-style-type: none;
  padding: 0;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  min-width: 270px;
}

.border-top {
  border-top: 1px solid #CACACA;
  box-sizing: border-box;
  border-radius: 0px;
}

.footer-link {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #CACACA;
}

.footer-link:hover {
  color: #FFFFFF;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-logos {
  align-items: center;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1239px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .mt-48-m {
    margin-top: 48px;
  }

  .container {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    width: 100%;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .navigation {
    flex-direction: column;
    gap: 0;
    font-weight: 700;
    line-height: 12.89px;
    margin-top: 17px;
    margin-bottom: 18px;
  }

  .nav-item {
    padding: 2px 0;
  }

  .logo {
    font-weight: 700;
  }

  .search {
    width: 100%;
  }

  .description {
    margin-top: 16px;
  }

  .input-form {
    width: 100%;
  }

  .pricing {
    flex-direction: column;
  }

  .pricing-item {
    box-sizing: border-box;
    padding-top: 19px;
    width: 100%;
  }

  .news-item {
    flex-direction: column;
    width: 100%;
  }

  .news-text {
    margin-top: 16px;
  }

  .news-image,
.news-content,
.news-body {
    width: 100%;
  }

  .news-body h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .news-item:nth-child(2n+1) {
    flex-direction: column;
  }

  .mobile-app {
    flex-direction: column-reverse;
  }

  .mobile-app-description {
    width: 100%;
  }

  .footer-col {
    width: 100%;
  }

  .footer-top {
    margin-top: 100px;
    gap: 30px;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .artist-main-header {
    margin-top: 25px;
  }

  .popular-track {
    width: 100%;
  }

  .discography-item,
.similar-item {
    width: 137px;
  }

  .artist-btn {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
