/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
}


body {
  font: 18px/27px 'Roboto', serif;
  color: #cacaca;
  background: #08020d;
}

h1 {
  font: bold 38px/57px;
  text-transform: capitalize;
}

h2 {
  font: bold 60px/90px;
  text-transform: capitalize;
}



@media (max-width: 414px) {
  h1 {
    font: bold 30px/45px;
  }

  h2 {
    font: bold 18px/27px;
  }
}
