/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
}

body {
  font: 18px/27px 'Roboto', serif;
  color: #cacaca;
  background: #08020d;
}
